extends ../../layouts/default

block content
	.container
		.panel.panel-primary
			.panel-heading Search results
			if data.tickets.length > 0
				.panel-body
					p= data.keywords + " search results (Limited to 20 results)"
				table.table.table-striped
					for ticket in data.tickets
						tr: td
							.col-md-1
								span.label.label-info.pull-left #{ticket.status}
							a.ticket-title(href=ticket.url): strong #{ticket.title}
							
							+ticket(ticket)
			else
				.panel-body
					p There are no results for keywords: #{data.keywords}
