extends ../../layouts/default

block content
	.container: .panel.panel-primary
		.panel-heading #{data.ticket.title}
		.panel-body
			span.label.label-info.pull-right #{data.ticket.status}
			p.ticket-title #{data.ticket.description}
			p= data.ticket.description.indexOf("critical") > -1 ? "This is critical ticket!" : ""

			+ticket(data.ticket)

		if data.ticket.similarTicket
			.panel-footer
				p: strong Similar ticket
				a(href="/tickets/" + data.ticket.similarTicket.slug) #{data.ticket.similarTicket.title}

		.panel-footer: a.btn.btn-primary(href='/modifyticket/' + data.ticket.slug) Modify ticket 